body {
	font-family: arial;
	margin: 0;
	text-align: center;
	padding-bottom: 200px;
}

#menu{
	display:flex;
	position: absolute;
	top: 0;
	justify-content: space-between;
	background-color: #1a3a6f;
	color: #fff;
	margin: 0;
    padding-left: 5px;
	width: 100%;
}

li{
	display: inline-block;
	padding: 10;
	margin-right: 20;
	color: #fff;

}

ul {
	list-style-type: none;
	text-align: right;
}

#choice{
	align-items: center;
	display: flex;
	max-width: 600px;
	width: 100%;
	margin-top: 100px;
	margin-left: 500px;
}

#ip{
	align-items: center;
	border: solid #ccc;
    border-width: 1px 0 1px 1px;
    border-radius: 2px 0 0 2px;
    flex: 1;
    font-size: 16px;
    font-weight: 200;
    height: 33px;
    margin: 0;
	margin-left: 500px;
    min-width: 50%;
    padding: 5px;
}

#btn{
	background-color:  #1a3a6f;
	border:#fff; 
	color: white;
	padding: 7px 32px;
	text-align: center;
	font-size: 16px;
	margin-top: 17px;
	transition: 0.3s;
	display: inline-block;
	text-decoration: none;
}

#btn:hover{
	opacity: 0.6;
}

.selection{
	margin-top: 5%;
	position: absolute;
	right: 25%;
}

#help{
	display: inline-block;
	margin-top: 150px;
	color: #1a3a6f;
	font-size: 16px;
}

#title{
	border: solid white;
	padding-left: 0px;
	font-size: 20px;

}

a:link{
	color: #fff;
}

a:visited{
	color: #fff;
}

a:active{
	color: #fff;
}

a:hover{
	color: #fff;
	opacity: 0.6;
}

footer {
	background-color: #1a3a6f;
	position: fixed;
	left: 0; bottom: 0; right: 0; 
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 30px;
}

